:root {
	--primary-color: white;
	--secondary-color: rgb(187, 187, 187);
	--bg-color: #121212;
	--purple: #BB86FC;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	transition-duration: 200ms;
}

body {
	background: var(--bg-color);
	color: var(--primary-color);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 72px;
	padding: 14px;
	opacity: 0;
}

body{animation: FadeIn 2s ease-out forwards;}
@keyframes FadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

.darkerText {
	color: var(--secondary-color);
	font-size: 1.2em;
}

header,
main,
footer {
	max-width: 700px;
	margin: 0 auto;
	width: 100%;
}

h1 {
	color: var(--purple);
	font-size: 1.6em;
}

p {
	font-size: 1.07em;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 14px;
	margin-top: 10px;
}

nav {
	font-size: 1.1em;
	display: flex;
	align-items: center;
	gap: 32px;
}

nav a {
	cursor: pointer;
	text-decoration: none;
	color: var(--primary-color);
}

nav a:hover {
	opacity: 0.7;
}

main,
section,
.nameContainer {
	display: flex;
	flex-direction: column;
}

main {
	gap: 40px;
	padding-bottom: 64px;
}

section {
	gap: 48px;
}

.nameContainer {
	gap: 8px;
}

.imgContainer {
	border-radius: 100%;
	max-width: 180px;
	overflow: hidden;
}

.imgContainer img {
	width: 100%;
	height: auto;
	object-fit: cover;
	transform: scale(1.1);
}

.aboutMe {
	line-height: 1.5em;
	font-size: 1.3em;
}

.outreachContainer {
	margin: auto 30px;
}

.outreach {
	display: flex;
	align-items: center;
	gap: 14px;
	cursor: pointer;
	width: fit-content;
	margin-right: auto;
	font-size: 1.2em;
	margin-bottom: 6px;
}

.outreach:hover {
	opacity: 0.7;
}

.test {
	display: flex;
}

.projectContainer {
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.projectHeading {
	color: var(--purple);
	font-size: 1.3em;
}

.projectItem {
	display: flex;
	align-items: stretch;
	gap: 24px;
}

.projectItem div:first-child {
	display: flex;
	flex-direction: column;
	gap: 14px;
	flex: 1;
}

.projectItem>div:last-child {
	aspect-ratio: 16/9;
	max-width: 30%;
	overflow: hidden;
	border-radius: 8px;
}

.projectItem>div:last-child img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grow img {
	transition: 1s ease;
}

.grow img:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	transition: .9s ease;
}

.linkContainer {
	display: flex;
	align-items: center;
	gap: 24px;
}

.linkItem {
	display: flex;
	flex-direction: row !important;
	align-items: center;
	gap: 14px !important;
	color: var(--primary-color);
	text-decoration: none;
	cursor: pointer;
}

.linkItem:hover {
	opacity: 0.7;
}

.linkItem p {
	font-size: 0.9em;
}

@media (max-width: 600px) {

	body {
		padding: 20px;
	}
	
	h1 {
		font-size: 1.5em;
	}

	.aboutMe {
		width: 90%;
		margin-right: auto;
	}

	nav {
		gap: 16px;
		font-size: 1em;
		margin-left: 5px;
	}

	.projectItem {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.projectItem div:first-child {
		max-width: 100%;
	}

	.projectItem>div:last-child {
		max-width: 100%;
	}

	.projectItem>div:last-child img {
		width: 100%;
		height: auto;
		object-fit: contain;
	}

    .darkerText {
        font-size: 1.3em;
    }

	.projectText {
		font-size: 1.1em;
	}

	.linkContainer {
		font-size: 1.1em;
		margin-top: 9px;
	}

	.outreachContainer {
		margin: 0px;
		padding: 60px 14px;
	}

}






